<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battery Health Monitor</title>
    <link rel="stylesheet" href="./styles/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="container-fluid min-vh-100">
      <%- include("./partials/navbar.ejs", {heading: "Battery Health Monitor | Add Betteries"}) %>

      <div class="container w-50 bg-light border shadow-lg rounded-3 mt-5">
        <form action="/" method="post" class="px-5 py-3">
          <div class="form-group mb-3 input-group dynamic-input">
            <!-- Initial input field -->
            <div class="input-group mb-3 border border-2 border-dark rounded-3">
              <span class="input-group-text text-primary" id="basic-addon1"
                >Battery 1</span
              >
              <input
                type="text"
                class="form-control"
                placeholder="Enter Battery link"
                name="battery1"
              />
              <span class="input-group-text text-secondary" id="basic-addon2">
                <i class="fa-solid fa-trash remove-input"></i>
              </span>
            </div>
          </div>

          <div class="d-flex container justify-content-between p-0">
            <button type="submit" class="btn btn-dark my-3 fw-bold">
              Submit
            </button>
            <button
              type="button"
              class="btn btn-dark my-3 fw-bold"
              id="add-battery"
            >
              Add Battery
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>

  <script src="./scripts/home.js"></script>
</html>
