<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battery Health Monitor</title>
  </head>
  <body>
    <div class="container-fluid min-vh-100">
      <%- include("./partials/navbar.ejs", {heading: "Battery Health Monitor | Add Betteries"}) %>
    </div>
  </body>
</html>
