@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chela One", cursive;
  letter-spacing: 2px;
}


